<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head th:replace="~{base :: head}">
		<meta charset="UTF-8">
		<title>Working Hour</title>
	</head>

	<body>
		<div class="container">
			<div th:replace="~{base :: titulo('Working Hour Input')}"></div>
					
				<div class="card mb-3 col-sm-12">
					<form action="/working-hour" class="card-body" method="post">
												
						<div class="d-flex justify-content-start">							
							<div class="form-group pl-3">
								<label for="startHour">Start Hour</label>
								<input type="range" class="form-range" min="0" max="23" step="1" id="startHour" name="startHour">
								<label id="startHourLabel">0</label>
							</div>
							<div class="pl-4">
								<label for="startMinute">Start Minute</label>
								<input type="range" class="form-range" min="0" max="59" step="1" id="startMinute" name="startMinute">
								<label id="startMinuteLabel">0</label>
							</div>
						</div>
						
						<div class="d-flex justify-content-start">													
							<div class="form-group pl-3">
								<label for="endHour">End Hour</label>
								<input type="range" class="form-range" min="0" max="23" step="1" id="endHour" name="endHour">
								<label id="endHourLabel">0</label>
							</div>
							<div class="pl-4">	
								<label for="endMinute">End Minute</label>
								<input type="range" class="form-range" min="0" max="59" step="1" id="endMinute" name="endMinute">
								<label id="endMinuteLabel">0</label>
							</div>
						</div>
						
						<div class="form-group col-sm-4">
							<label class="control-label" for="dateRegister">Date</label>
	        				<input id="dateRegister" name="dateRegister" placeholder="DD/MM/YYY" type="text"/>
						</div>
	
						<div class="form-group pl-3">
							<label class="control-label" for="type">Type</label>
							<select class="form-group" aria-label="Default select example" name="type" id="type">
								<option th:each="workType : ${T(br.com.ilia.model.WorkingHourType).values()}" th:value="${workType}"
								 th:text="${workType}"></option>
							</select>
						</div>
						
						<button class="btn btn-success ml-3">Submit</button>	
					</form>
				</div>
		</div>
				
		<!-- Date Range Picker -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
				
		<script>
		    $(document).ready(function(){
		        var date_input=$('input[name="dateRegister"]');
		        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		        date_input.datepicker({
		            format: 'dd/mm/yyyy',
		            container: container,
		            todayHighlight: true,
		            autoclose: true,
		        })
		    })
		    
		    var slider = document.getElementById("startHour");
			var output = document.getElementById("startHourLabel");
			output.innerHTML = slider.value;
			
			slider.oninput = function() {
			  output.innerHTML = this.value;
			}

		    var slider2 = document.getElementById("startMinute");
			var output2 = document.getElementById("startMinuteLabel");
			output2.innerHTML = slider.value;
			
			slider2.oninput = function() {
			  output2.innerHTML = this.value;
			}

		    var slider3 = document.getElementById("endHour");
			var output3 = document.getElementById("endHourLabel");
			output3.innerHTML = slider.value;
			
			slider3.oninput = function() {
			  output3.innerHTML = this.value;
			}

		    var slider4 = document.getElementById("endMinute");
			var output4 = document.getElementById("endMinuteLabel");
			output4.innerHTML = slider.value;
			
			slider4.oninput = function() {
			  output4.innerHTML = this.value;
			}

		</script>
	</body>
</html>